{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}	
	<div class="hero-wrap js-fullheight " style="background-image: url('../static/frontend/images/home.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
				<div class="col-md-8 ftco-animate mt-5 pt-md-5" data-scrollax=" properties: { translateY: '70%' }">
					<div class="row">
						
					</div>
					<div class="row d-flex" style="margin left: 100px;">
						<div class="col-md-4">
							<a href="#" class="btn btn-danger px-4 py-3" style="margin-left: 30px;">view material</a>
						</div><br>
						<div class="col-md-4">
							<a href="#" class="btn btn-danger px-4 py-3" style="margin-left: 30px;">view material</a>
						</div>
					</div>
					<div style="margin-top: 100px; right: 10px;">
						<h6>please your evaluation will take place in :</h6>
						<!-- Display the countdown timer in an element -->
<p id="demo"></p>
<h6>click the evualation button when it is time!!!!!!!! thanks</h6>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Oct 5, 2020 15:00:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
		
	</div>
	{% if pst %}
	{% for p in pst %}
	<section class="ftco-counter img" id="section-counter" style="margin-top: 50px;">
		<div class="container">
			<div class="row no-gutters d-flex">
				<div class="col-6">
					<img src="{{ p.pst_img.url }}" class="Update-image" alt="Update Image" style="height: 100%; width: 100%;">
				  </div>
				<div class="col-md-6 p-3 pl-md-5 py-5 bg-danger">
					<div class="row justify-content-start pb-3">
						<div class="col-md-12 heading-section heading-section-white ftco-animate">
							<h2 class="mb-4">Other information <spaesn>WEEKLY UPDATES</span></h2>
							<p>{{ p.post_content }}</p>
							<p>{{ p.post_content_a }}</p>
							<p>{{ p.post_content_b }}</p>
							<p>{{ p.post_content_c }}</p>
							<p>{{ p.post_content_d }}</p>
							<p>{{ p.post_content_e }}</p>
							<p>{{ p.post_content_f }}</p>
							<p>{{ p.post_content_g }}</p>
						</div>
					</div>
					
					<div class="row">
					  <div class="col-12 col-sm-6">
						<h3 class="d-inline-block d-sm-none"></h3>
						
						
					  </div>
					  <div class="col-12 col-sm-6">
						<h3 class="my-3"></h3>
						<p> </p>
					
						
						<h6><strong>created at: {{ p.created_at }} </strong></h6>
					  
		  
						<h6 class="mt-3"><strong>updates by:</strong><small>   {{ p.user_id.first_name }}</small></h6>
						
						
		  
					   
		  
						
		  
					  </div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
{% endfor %}
{% endif %}

	

	<section class="ftco-section bg-light ftco-faqs">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 order-md-last">
					<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(images/about.jpg);">
					</div>
					<div class="d-flex mt-3">
						<div class="img img-2 mr-md-2 w-100" style="background-image:url(images/nnamdi1.jpg);"></div>
						<div class="img img-2 ml-md-2 w-100" style="background-image:url(images/about-2.jpg);"></div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="heading-section mb-5 mt-5 mt-lg-0">
						<h2 class="mb-3">Frequently Asks Questions</h2>
					</div>
					<div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
						<div class="card">
							<div class="card-header p-0" id="headingOne">
								<h2 class="mb-0">
									<button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
										<p class="mb-0">How can we help your business?</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-body py-3 px-0">
									<ol>
										<li>Far far away, behind the word mountains</li>
										<li>Consonantia, there live the blind texts</li>
										<li>When she reached the first hills of the Italic Mountains</li>
										<li>Bookmarksgrove, the headline of Alphabet Village</li>
										<li>Separated they live in Bookmarksgrove right</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header p-0" id="headingTwo" role="tab">
								<h2 class="mb-0">
									<button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
										<p class="mb-0">How long does it take to build a website?</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
								<div class="card-body py-3 px-0">
									<ol>
										<li>Far far away, behind the word mountains</li>
										<li>Consonantia, there live the blind texts</li>
										<li>When she reached the first hills of the Italic Mountains</li>
										<li>Bookmarksgrove, the headline of Alphabet Village</li>
										<li>Separated they live in Bookmarksgrove right</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header p-0" id="headingThree" role="tab">
								<h2 class="mb-0">
									<button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
										<p class="mb-0">Can I help your IT Solution for business?</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
								<div class="card-body py-3 px-0">
									<ol>
										<li>Far far away, behind the word mountains</li>
										<li>Consonantia, there live the blind texts</li>
										<li>When she reached the first hills of the Italic Mountains</li>
										<li>Bookmarksgrove, the headline of Alphabet Village</li>
										<li>Separated they live in Bookmarksgrove right</li>
									</ol>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-header p-0" id="headingFour" role="tab">
								<h2 class="mb-0">
									<button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
										<p class="mb-0">What are those requirements for ITSolutions?</p>
										<i class="fa" aria-hidden="true"></i>
									</button>
								</h2>
							</div>
							<div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
								<div class="card-body py-3 px-0">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	

	

	
	
	<section class="ftco-appointment ftco-section img" style="background-image: url(../static/frontend/images/home.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 half ftco-animate">
					<h2 class="mb-4">Don't hesitate to contact us</h2>
					<form action="#" class="appointment">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Your Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="fa fa-chevron-down"></span></div>
											<select name="" id="" class="form-control">
												<option value="">Time-shift</option>
												<option value="">Updated-material</option>
												<option value="">Evaluation</option>
												<option value="">Events</option>
												<option value="">Observation</option>
												<option value="">Others</option>
												
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Send message" class="btn btn-danger py-3 px-4">
								</div>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</section>

{% endblock %}	